<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content class="background" fullscreen="true" padding>

  <h3 class="text-light text-left">Connectez vous / Créez un compte</h3>

    <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
    <ion-input [(ngModel)]="password" placeholder="Mot de passe"  type="password"></ion-input>

  <div text-center>
    <button ion-button (click)='login($event, email, password)'>Se connecter</button>
    <button ion-button (click)='register($event, email, password)'>Creer un compte</button>
  </div>
</ion-content>
