<ion-tabs color="gray">
  <ion-tab [root]="tab1Root" tabTitle="Trouver un covoit'" tabIcon="car"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mon compte" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Historique" tabIcon="search"></ion-tab>
</ion-tabs>
