<!--
  Generated template for the ConnectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="row">
    <div class="col-sm">
    <ion-label fixed> Username </ion-label>
    </div>
    <div class="col-sm">
      <ion-input type="text" [(ngModel)]="input_username"></ion-input>
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
    <ion-label fixed> Password </ion-label>
    </div>
    <div class="col-sm">
      <ion-input type="password" [(ngModel)]="input_password"></ion-input>
    </div>
  </div>
  <div class="row button">
    <button ion-button full (click)="connection()">Connection</button>
  </div>
</ion-content>
