page-reserver-trajet {

    ion-avatar{
        height: auto;
        max-width: 12rem;
        border-radius: 50%!important;
        width: auto !important;
        align-items: center;
    }

    .background {
        background-image: url('../assets/imgs/background.png');
        background-repeat: no-repeat;
        background-size:cover;
    }

    div{
        background-image: url("assets/imgs/background.png");
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .white-text,
    ion-input {
    font-family: Arial;
    font-weight: 400;
    color: white;
    }

    .transparent{
        background-color: rgba(0, 0, 0, 0.3);
        padding:1rem;
        margin:1rem;
    }
    
    .avatar{
        margin: auto;
        padding: 0.5rem;
        border-radius: 50%!important;
        }

    .masthead {
        position: relative;
        background-color: #343a40;
        background: url("assets/imgs/background.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        max-width: 100%;
        height: auto;
        padding-top: 7rem;
        padding-bottom: 7rem;
        }


}
