<!--
  Generated template for the ReserverTrajetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gray">
    <ion-title>{{trajet.nom}}</ion-title>
  </ion-navbar>

</ion-header>
<!--ajouter les infos du conducteur dans cette page (age, préférences, véhicule, nb places, etc)
    visualisation du détail du trajet
-->

<ion-content class="background" fullscreen="true" padding>
    <ion-card class="transparent">
   
        <ion-avatar class="avatar">
            <img class="avatar"  src={{trajet.auteur}}>
        </ion-avatar>
        <h1 class="white-text">{{trajet.nom}}</h1>
        <ion-icon name="star" color="light"></ion-icon>
        <ion-icon name="star" color="light"></ion-icon>
        <ion-icon name="star" color="light"></ion-icon>
        <ion-icon name="star-half" color="light"></ion-icon>
        <ion-icon name="star-outline" color="light"></ion-icon>

        <p class="white-text">{{trajet.description}}</p>

      <ion-row>
          <ion-col>
            <p class="white-text">Départ</p>
          </ion-col>
          <ion-col>
            <p class="white-text">Arrivée</p>
          </ion-col>
          <ion-col center text-center>
            <p class="white-text">Coût</p>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              <p class="white-text">{{trajet.heureDepart}}</p>
            </ion-col>
            <ion-col>
              <p class="white-text">{{trajet.heureArrivee}}</p>
            </ion-col>
            <ion-col center text-center>
              <p class="white-text">{{trajet.cout}}</p>
            </ion-col>
          </ion-row>
     
      </ion-card>
 
      <button ion-button icon-left full >
          <ion-icon name="car"></ion-icon>
          Réservez votre place maintenant ({{trajet.nbPlaces}} restantes) !
      </button>

      <button ion-button icon-left full>
          <ion-icon name="help"></ion-icon>
          Poser une question au conducteur
      </button>

    </ion-content>
