<ion-header>
 <!-- <ion-navba>
    <ion-title>Home</ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content class="background" fullscreen="true" padding>
      <h3 class="text-light text-left">Trouvez votre covoiturage</h3>
      
      <ion-input [(ngModel)]="villeDepart" placeholder="De"></ion-input>
      <ion-input [(ngModel)]="villeArrivee" placeholder="A"></ion-input>
      <ion-input [(ngModel)]="dateDepart" placeholder="jj/mm/aaaa"></ion-input>
          
      <button ion-button icon-left full (click)="goToRecherche($event, villeDepart, villeArrivee, dateDepart)">
          <ion-icon name="search"></ion-icon>
          Rechercher
      </button>

      <button ion-button icon-left full  (click)="addTrajet(trajet)">
        Creer trajet
    </button>

      <h4 class="text-light text-center">Derniers avis reçus</h4>

      <ion-card class="transparent">
        <ion-avatar class="avatar">
          <img class="avatar" src="assets/imgs/homme.png">
        </ion-avatar>
        <ion-card-content>
          <div class="temoignage rounded">
              <h5 class="white-text">Avis laissé à Patricia B</h5>
              <p class="white-text">"Passagers ponctuels et très sympathiques. Le voyage Lyon-Paris est passé très vite."</p>
              <h6 class="white-text">Dominique S</h6>
          </div>
        </ion-card-content>
    
        <ion-row>
        <!-- star rating -->
        <ion-col></ion-col>
        </ion-row>
  
      </ion-card>
</ion-content>
