page-compte {
    ion-avatar{
        height: auto;
        max-width: 12rem;
        border-radius: 50%!important;
        width: auto !important;
        align-items: center;
    }

    .avatar{
        margin: auto;
        padding: 0.5rem;
        border-radius: 50%!important;
     }

     .transparent{
        background-color: rgba(26, 130, 214, 0.3);
        padding:1rem;
        margin:1rem;
    }
}
