<!--
  Generated template for the ComptePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Compte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="row">
  <ion-avatar class="avatar">
    <img class="avatar" src="assets/imgs/homme.png">
  </ion-avatar>
</div>
<div class="row">
  <div class="col-sm-4">
      <ion-card class="transparent">
        <ion-card-header>
          <b>Général Informations</b>
          <div style="float: right">
            <ion-icon name="create"></ion-icon>
          </div>
          
        </ion-card-header>
      <ion-card-content>
          <div class="temoignage rounded">
            <div class="row">
              <div class="col">
                  <ion-label fixed>First Name </ion-label>
              </div>
              <div class="col">
                  <ion-input type="text" [(ngModel)]="input_firstname"></ion-input>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <ion-label fixed>Name </ion-label>
                </div>
                <div class="col">
                    <ion-input type="text" [(ngModel)]="input_name"></ion-input>
                </div>
              </div>

              <div class="row">
                  <div class="col">
                      <ion-label fixed>Age </ion-label>
                  </div>
                  <div class="col">
                      <ion-input type="text" [(ngModel)]="input_age"></ion-input>
                  </div>
                </div>
              
                <div class="row">
                    <div class="col">
                        <ion-label fixed>Mail </ion-label>
                    </div>
                    <div class="col">
                        <ion-input type="text" [(ngModel)]="input_mail"></ion-input>
                    </div>
                  </div>
             <!-- mail / Conduit / avis / Véhicule (Image) -->
            </div>
        </ion-card-content>
        </ion-card>
  </div>
  <div class="col-sm-4">
      <ion-card class="transparent">
          <ion-card-header>
            <b>Véhicule</b>
            <div style="float: right">
              <ion-icon name="create"></ion-icon>
            </div>
            
          </ion-card-header>
        <ion-card-content>
            <div class="temoignage rounded">
              <!-- couleur Marque Model Nombredenotes moyennenote photo -->
              <div class="row">
                <div class="col">
                    <ion-label fixed>Marque </ion-label>
                </div>
                <div class="col">
                    <ion-input type="text" [(ngModel)]="input_marque"></ion-input>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <ion-label fixed>Model </ion-label>
                  </div>
                  <div class="col">
                      <ion-input type="text" [(ngModel)]="input_model"></ion-input>
                  </div>
                </div>
  
                <div class="row">
                    <div class="col">
                        <ion-label fixed>Couleur </ion-label>
                    </div>
                    <div class="col">
                        <ion-input type="text" [(ngModel)]="input_couleur"></ion-input>
                    </div>
                  </div>
                
                  <div class="row">
                      <div class="col">
                          <ion-label fixed>Nombre de notes </ion-label>
                      </div>
                      <div class="col">
                          <ion-input type="text" [(ngModel)]="input_nombre_notes"></ion-input>
                      </div>
                    </div>
  
                    <div class="row">
                        <div class="col">
                            <ion-label fixed>Moyenne note </ion-label>
                        </div>
                        <div class="col">
                            <ion-input type="text" [(ngModel)]="moyenne_note"></ion-input>
                        </div>
                      </div>
  
                  <div class="row">
                      <div class="col">
                          <ion-label fixed>Photo </ion-label>
                      </div>
                      <div class="col">
                          <img class="" src="assets/imgs/homme.png">
                      </div>
                    </div>
               <!-- mail / Conduit / avis / Véhicule (Image) -->
              </div>
          </ion-card-content>
          </ion-card>
  </div>
  <div class="col-sm-4">
      <ion-card class="transparent">
          <ion-card-header>
              <b>Others</b>
              <div style="float: right">
                <ion-icon name="create"></ion-icon>
              </div>
              
            </ion-card-header>
      <ion-card-content>
          <div class="temoignage rounded">
              <div class="row">
                <div class="col">
                    <ion-label fixed>Conduit </ion-label>
                </div>
                <div class="col">
                    <ion-checkbox color="dark" checked="true" [(ngModel)]="checkbox_conduit"></ion-checkbox>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <ion-input type="text" [(ngModel)]="input_name"></ion-input>
                  </div>
                </div>
  
                <div class="row">
                    <div class="col">
                        <ion-label fixed>Résultat avis</ion-label>
                    </div>
                    <div class="col">
                        <ion-icon name="md-star-outline" isActive="false"></ion-icon> 
                        <ion-icon name="md-star-outline" isActive="false"></ion-icon> 
                        <ion-icon name="md-star-outline" isActive="false"></ion-icon> 
                        <ion-icon name="md-star-outline" isActive="false"></ion-icon> 
                        <ion-icon name="md-star-outline" isActive="false"></ion-icon> 
                    </div>
                  </div>
               <!-- mail / Conduit / avis / Véhicule (Image) -->
              </div>
        </ion-card-content>
        </ion-card>
  </div>
</div>
</ion-content>
