<ion-header>

  <ion-navbar color="gray">
    <ion-title>{{recherche}}</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content class="background" fullscreen="true" padding>
      <ion-card *ngFor="let trajet of trajets" class="transparent" (click)="goToReserverTrajet($event, trajet)">
          <ion-avatar class="avatar">
              <img class="avatar"  src="{{trajet.auteur}}">
          </ion-avatar>
          <h1 class="white-text">{{trajet.nom}}</h1>
          <p class="white-text">{{trajet.description}}</p>
        <ion-row>
            <ion-col>
              <p class="white-text">Départ</p>
            </ion-col>
            <ion-col>
              <p class="white-text">Arrivée</p>
            </ion-col>
            <ion-col center text-center>
              <p class="white-text">Coût</p>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                <p class="white-text">{{trajet.heureDepart}}</p>
              </ion-col>
              <ion-col>
                <p class="white-text">{{trajet.heureArrivee}}</p>
              </ion-col>
              <ion-col center text-center>
                <p class="white-text">{{trajet.cout}}</p>
              </ion-col>
            </ion-row>
      
      </ion-card>

</ion-content>
